# Maven and Gradle
.mvn/
mvnw
mvnw.cmd
.gradle/
build/
*.jar
*.war
*.class

# Ignorar archivos .war
/*.war

# IntelliJ IDEA
.idea/
*.iml

# Output directories
/bin/
/build/
out/
/target/

# Log files
*.log

# System files
DS_Store
*.tmp

# Temporary files
*.bak
*.swp